@font-face {
	font-family: 'pss';
	src:url('./assets/fonts/pss.eot?cac0ef');
	src:url('./assets/fonts/pss.eot?#iefixcac0ef') format('embedded-opentype'),
		url('./assets/fonts/pss.woff?cac0ef') format('woff'),
		url('./assets/fonts/pss.ttf?cac0ef') format('truetype'),
		url('./assets/fonts/pss.svg?cac0ef#pss') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* icon font */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'pss';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-list:before {content: "\e608";}
.icon-angle-double-left:before {content: "\f100";}
.icon-angle-double-right:before {content: "\f101";}
.icon-angle-left:before {content: "\f104";}
.icon-angle-right:before {content: "\f105";}
.icon-open:before {content: "\e128";}
.icon-ellipsis:before {content: "\e129";}
.icon-mail:before {content: "\e600";}
.icon-phone:before {content: "\e601";}
.icon-calendar:before {content: "\e602";}
.icon-circle-right:before {content: "\e603";}
.icon-info:before {content: "\e604";}
.icon-map:before {content: "\e605";}
.icon-news:before {content: "\e606";}
.icon-right:before {content: "\e607";}

a {
  color: rgb(0, 189, 247)
}

.pss-avatarTop {
  display: block;
  position: absolute; top: -4px; right: 30px; z-index: 1100;
  height: 68px; overflow: hidden;
}

.pss-loginCard {
  position: relative; z-index: 1;
  padding: 15px;
  overflow: hidden; border-radius: 10px;
  text-align: center;
  }
  .pss-loginCard .overlay {
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: -1;
    margin: -25px;
    background-color: transparent;
    background-repeat: no-repeat; background-attachment: fixed; background-size: cover;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }

.pss-pageIntro {
  padding: 18px;
  background: url('./assets/intro-bgr.png') 50% 50% no-repeat;background-size: cover;
  }
  .pss-pageIntro h2 {
    margin: 0; padding: 15px 80px 15px 15px;
    font-size: 32px; color: #ffffff; font-weight: 100; line-height: 1; text-align: left;
    background: url('./logo.png') 100% 0 no-repeat; background-size: contain;
  }

.pss-upcomingEvents {margin: 0; padding: 0}
  .pss-upcomingEvents li {list-style: none; margin-bottom: 2em;}
  .pss-upcomingEvents p,
  .pss-upcomingEvents h4{margin: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
      .pss-upcomingEvents p{margin: 0; font-size: 12px; line-height: 19px;}
      .pss-upcomingEvents h4{font-size: 16px;font-weight: 700;}
          .pss-upcomingEvents span.organizer:before{content: "|"; margin: 0 7px;}
          .pss-upcomingEvents a.read-more{color: #b6ecfc; text-decoration: none;}
              .pss-upcomingEvents a.read-more i{margin-left: 5px; font-size: 7px;}
  .pss-upcomingEvents .ribon{
      float:left;
      width: 42px;
      margin-right: 19px;
      background: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
      }
      .pss-upcomingEvents .ribon span{
          display: block;
          text-align: center; line-height: 20px;
          }
          .pss-upcomingEvents .ribon span.day{font-size: 17px; color: #f53533; font-weight: 900; background: #faf5dd;}
          .pss-upcomingEvents .ribon span.month{font-size: 13px; text-transform: uppercase; color: #000000;}

  .pss-upcomingEvents .info {overflow: hidden;}


.pna-sidebarNav {}
  .pna-sidebarNav a {
    display: block;
    text-decoration: none; color: inherit;
    }
    .pna-sidebarNav a.active {
      background-color: rgba(0, 0, 0, 0.2) !important;
      pointer-events: none; cursor: initial;
    }
    .pna-sidebarNav span.active {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }

table td.column-name,
table td.column-first_name {padding: 0 !important;}



@media (max-width: 768px) {
  .pss-logoTop {height: 2.4em;}
}